%span.anchor#interviews
%section.interviews
	%h1 Interviews
	%hr
	%ul
		%li
			%p.title Voici à quoi ressemble l'Internet d'un hyper prudent
			%span.location 04/06/2015, Slate (Juliette Harau)
			%span.links
				%a{href: 'https://confs.imirhil.fr/20150604_slate_internet-hyperprudent/'}
					%i.fa.fa-external-link
					Article
				%a{href: 'https://www.slate.fr/story/101631/internet-hyper-prudent'}
					%i.fa.fa-newspaper
					Source
				%span.small (<i class="fa fa-warning"></i> trackers)
		%li
			%p.title Les petites réunions des super-héros de l'Internet
			%span.location 08/06/2015, Slate (Juliette Harau)
			%span.links
				%a{href: 'https://confs.imirhil.fr/20150608_slate_reunions-super-heros-internet/'}
					%i.fa.fa-external-link
					Article
				%a{href: 'https://www.slate.fr/story/101491/cafe-vie-privee-proteger-donnees-numeriques'}
					%i.fa.fa-newspaper
					Source
				%span.small (<i class="fa fa-warning"></i> trackers)
		%li
			%p.title Hornet, le nouveau réseau Internet anonyme
			%span.location 29/07/2015, Les Échos (Romain Duriez)
			%span.links
				%a{href: 'https://confs.imirhil.fr/20150729_lesechos_hornet-nouveau-reseau-internet-anonyme/'}
					%i.fa.fa-external-link
					Article
				%a{href: 'http://www.lesechos.fr/tech-medias/hightech/021235566689-hornet-le-nouveau-reseau-internet-anonyme-1140775.php'}
					%i.fa.fa-newspaper
					Source
				%span.small (<i class="fa fa-warning"></i> trackers)
		%li
			%p.title SSL/TLS : Malgré les failles, les lacunes persistent ?
			%span.location 24/08/2015, ZDNet (Louis Adam)
			%span.links
				%a{href: 'https://confs.imirhil.fr/20150824_zdnet_tls/'}
					%i.fa.fa-external-link
					Article
				%a{href: 'http://www.zdnet.fr/actualites/ssl-tls-malgre-les-failles-les-lacunes-persistent-39823848.htm'}
					%i.fa.fa-newspaper
					Source
				%span.small (<i class="fa fa-warning"></i> trackers)
		%li
			%p.title Loi sur le renseignement : « pas seulement liberticide, mais aussi inefficace »
			%span.location 28/10/2015, Les Ateliers du CFJ (Laure Andrillon)
			%span.links
				%a{href: 'https://confs.imirhil.fr/20151028_cfjlab_loi-renseignement/'}
					%i.fa.fa-external-link
					Article
				%a{href: 'http://ateliers.cfjlab.fr/2015/10/28/loi-sur-le-renseignement-pas-seulement-liberticide-mais-aussi-inefficace/'}
					%i.fa.fa-newspaper
					Source
				%span.small (<i class="fa fa-warning"></i> trackers)
		%li
			%p.title Twitter prévient ses utilisateurs lorsqu'un État veut espionner leur compte
			%span.location 13/12/2015, Le Figaro (Lucie Ronfaut)
			%span.links
				%a{href: 'https://confs.imirhil.fr/20151213_lefigaro_-twitter-previent-utilisateur-etat-espionner-compte/'}
					%i.fa.fa-external-link
					Article
				%a{href: 'http://www.lefigaro.fr/secteur/high-tech/2015/12/13/32001-20151213ARTFIG00052-twitter-previent-ses-utilisateurs-lorsqu-un-etat-veut-espionner-leur-compte.php'}
					%i.fa.fa-newspaper
					Source
				%span.small (<i class="fa fa-warning"></i> trackers)
		%li
			%p.title Twitter prévient des activistes français qu’un État les ciblerait
			%span.location 14/12/2015, Numerama (Guillaume Champeau)
			%span.links
				%a{href: 'https://confs.imirhil.fr/20151214_numerama_-twitter-previent-activistes-francais-etat-ciblerait/'}
					%i.fa.fa-external-link
					Article
				%a{href: 'http://www.numerama.com/tech/134696-twitter-previent-des-activistes-francais-quun-etat-les-cible-peut-etre.html'}
					%i.fa.fa-newspaper
					Source
				%span.small (<i class="fa fa-warning"></i> trackers)
		%li
			%p.title Comment je suis devenue invisible
			%span.location 28/03/2016, France 4 (Alexandra Ranz)
			%a{href: 'https://confs.imirhil.fr/20160328_france4_comment-je-suis-devenue-invisible.webm'}
				%i.fa.fa-external-link
				Vidéo
		%li
			%p.title Rencontre avec Exodus Privacy, qui révèle les trackers des applications Android
			%span.location 24/11/2017, Next Inpact (Guénaël Pépin)
			%span.links
				%a{href: 'https://confs.imirhil.fr/20171124_nextinpact_exodus-privacy/'}
					%i.fa.fa-external-link
					Article
				%a{href: 'https://www.nextinpact.com/news/105655-rencontre-avec-exodus-privacy-qui-revele-trackers-applications-android.htm'}
					%i.fa.fa-newspaper
					Source
				%span.small (<i class="fa fa-warning"></i> trackers)
