%nav
	%div
		%a{href: 'https://blog.imirhil.fr/'} Blog
		%a{href: '#projects'} Projets
		%a{href: 'https://confs.imirhil.fr/'} Conférences
		%a{href: '#interviews'} Interviews
		%a{href: '#contact'} Contact
