%span.anchor#projects
%section.projects
	%h1 Projets
	%hr
	.projects
		.project
			%span
				%a{href: 'https://café-vie-privée.fr/'}
					%b Café Vie Privée
				%br
				Collectif citoyen de formation à la protection de la vie privée
			%a{href: 'https://café-vie-privée.fr/'}
				%img.right{src: 'images/projects/chiffrofete.png', alt: 'Café Vie Privée'}

		.project
			%span
				%a{href: 'https://passageenseine.fr/'}
					%b Pas Sage en Seine
				%br
				Festivale des libertés numérique mais pas que
			%a{href: 'https://passageenseine.fr/'}
				%img.right{src: 'images/projects/pses.png', alt: 'Pas Sage en Seine'}

	.projects
		.project
			%span
				%a{href: 'https://tls.imirhil.fr/'}
					%b CryptCheck
				%br
				Outil de vérification du niveau de sécurité des configurations
				TLS et SSH
			%a{href: 'https://tls.imirhil.fr/'}
				%img.right{src: 'images/projects/cryptcheck.png', alt: 'CryptCheck'}
				/
					Image by Sean MacEntee
					CC-BY 2.0 https//creativecommons.org/licenses/by/2.0/
					https://www.flickr.com/photos/smemon/15944989872/

		.project
			%span
				%a{href: 'https://exodus-privacy.eu.org/'}
					%b Exodus
				%br
				Outil de détection de trackers dans les applications mobiles
			%a{href: 'https://exodus-privacy.eu.org/'}
				%img.right{src: 'images/projects/exodus.png', alt: 'Exodus'}

	.projects
		.project
			%a{href: 'https://github.com/aeris/onionbox/'}
				%img.left{src: 'images/projects/onionbox.png', alt: 'OnionBox'}
			%span
				%a{href: 'https://github.com/aeris/onionbox/'}
					%b OnionBox
				%br
				Boîtier matériel garantissant le passage par Tor du trafic de
				ses utilisateurs

		.project
			%a{href: 'https://nsa.imirhil.fr/'}
				%img.left{src: 'images/projects/nsa-observer.png', alt: 'NSA Observer'}
			%span
				%a{href: 'https://nsa.imirhil.fr/'}
					%b NSA Observer
				%br
				Base de données des différents documents publiés lors de
				l’affaire Snowden

	.projects
		.project
			%span
				%a{href: 'https://addons.mozilla.org/firefox/addon/shaarli/'}
					%b Shaarli
				%br
				Extension Firefox s’interfaçant avec un serveur Shaarli pour la
				sauvegarde de liens intéressants
			%a{href: 'https://addons.mozilla.org/firefox/addon/shaarli/'}
				%img.right{src: 'images/projects/shaarli.png', alt: 'Shaarli'}

		.project
			%a{href: 'https://addons.mozilla.org/firefox/addon/enjoy-reading/'}
				%img.left{src: 'images/projects/enjoy-reading.png', alt: 'Enjoy Reading'}
			%span
				%a{href: 'https://addons.mozilla.org/firefox/addon/enjoy-reading/'}
					%b Enjoy Reading
				%br
				Extension Firefox facilitant la lecture d’un site Internet en
				convertissant les pages en texte brut

	%ul
		%li
			%a.title{href: 'https://github.com/aeris/firewall-piercer'} firewall-piercer
			Proxy SOCKS5 over TLS (over HTTPS proxy)

		%li
			%a.title{href: 'https://github.com/aeris/acme-pki'} acme-pki
			Gestion de clefs & certificats pour Let's Encrypt

		%li
			%a.title{href: 'https://git.imirhil.fr/aeris/ssh-ident'} ssh-ident
			Gestion d’identités multiples pour SSH

		%li
			%a.title{href: 'https://git.imirhil.fr/aeris/otp-cli'} otp-cli
			Client TOTP/HOTP en ligne de commande

		%li
			%a.title{href: 'https://git.imirhil.fr/aeris/cross-post'} cross-post
			Bridge Mastodon/Twitter

	%h1 Contributions
	%hr

	%ul
		%li
			%span.title [Chef] Allow multiple projects
			%span.location 18/12/2012
			%span.links
				%a{href: 'https://github.com/chef/chef/pull/235'}
					%i.fa.fa-git
					Patch

		%li
			%span.title [Ruby] Access to ephemeral TLS session key
			%span.location 03/04/2016
			%span.links
				%a{href: 'https://github.com/ruby/ruby/pull/1318'}
					%i.fa.fa-git
					Patch

		%li
			%span.title [LXC] Allow path in lxc.devices.allow
			%span.location 19/07/2016
			%span.links
				%a{href: 'https://github.com/lxc/lxc/pull/1708'}
					%i.fa.fa-git
					Patch

		%li
			%span.title [Gush] Allow setting queue for each job
			%span.location 19/10/2017
			%span.links
				%a{href: 'https://github.com/aeris/gush/commit/c9f9d9237e53452b1c2b82f509da9a5e51275d7e'}
					%i.fa.fa-git
					Patch

		%li
			%span.title [Ruby-OpenSSL] TLS fallback signaling cipher suite value support
			%span.location 29/10/2017
			%span.links
				%a{href: 'https://github.com/ruby/openssl/pull/165'}
					%i.fa.fa-git
					Patch

		%li
			%span.title [Ruby-OpenSSL] Multiple certs & keys support for SSLContext
			%span.location 29/10/2017
			%span.links
				%a{href: 'https://github.com/ruby/openssl/pull/166'}
					%i.fa.fa-git
					Patch

		%li
			%span.title [Ruby] CAA DNS RR support
			%span.location 29/10/2017
			%span.links
				%a{href: 'https://github.com/ruby/ruby/pull/1732'}
					%i.fa.fa-git
					Patch
